<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina Web</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1th:text>
</body>
</html>